.body {
  background: url("./components/images/ควายป่า_2.jpg");

  height: auto !important;
  background-size: cover;
}

.r1 {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #1900ffb2;
  color: white;
  text-align: center;
}
.size-font {
  font-size: 20px;
}
.size-font-eng {
  font-size: 15px;
}
.size-font1 {
  font-size: 42px;
  color: white;
}
.size-font2 {
  font-size: 25px;
  color: white;
}
.font-right {
  text-align: right;
}
.size-font3 {
  font-size: 40px;
  color: black;
}
.center {
  position: absolute;
  left: 40%;
  top: 25%;
  width: 25%;
  text-align: center;
}
.center2 {
  position: absolute;
  left: 25%;
  top: 10%;
  width: 50%;
  text-align: center;
}

.one {
  width: 1000px;
  padding: 100px;
  margin-top: 200px;
  box-sizing: border-box;
  background-color: rgba(173, 216, 230, 0.171);
  border-radius: 20px;
}

.one1 {
  width: 1000px;
  padding: 80px;
  box-sizing: border-box;
  background-color: rgba(173, 216, 230, 0.356);
  border-radius: 20px;
}

.button {
  border-radius: 4px;
  background-color: #ffffff;
  border: none;
  color: #0004ff;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255)(250, 235, 235);
  color: white;
  text-align: center;
}

.bg-form {
  position: absolute;
  left: 37%;
  position: sticky;
  margin-top: 200px;
  padding: 10px;
  width: 500px;
  text-align: center;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.349);
}
.coler-bg {
  background-color: rgba(255, 255, 255, 0.815);
  padding: 50px;
  border-radius: 10px;
  width: 400px;

  
}

.ped-d1 {
  padding-top: 20px;
  
  
}
.coler-bg1 {
  background-color: rgba(255, 255, 255, 0.815);
  position: absolute;
  left: 20%;
  margin-top: 10px;
  padding: 10px;
  width: 1200px;
  text-align: center;
  border-radius: 10px;
  color: #2e068a;
  
}
.coler-bg3 {
  background-color: rgba(255, 255, 255, 0.815);
  position: absolute;
  left: 15%;
  margin-top: 5px;
  padding: 10px;
  width: 1350px;
  text-align: center;
  border-radius: 10px;
  color: #2e068a;
  
}

.coler-bg4 {
  background-color: rgba(255, 255, 255, 0.815);
  position: absolute;
  left: 15%;
  margin-top: 5px;
  padding: 10px;
  width: 1350px;
  text-align: center;
  border-radius: 10px;
  color: #2e068a;
  
}
.card1 {
  position: absolute;
  left: 25%;
  margin-top: 20px;
  padding: 150px;
  width: 1000px;
  text-align: center;
  border-radius: 10px;
}
.coler-bg2 {
  background-color: rgba(255, 255, 255, 0.815);
  position: absolute;
  margin-top: 50px;
  padding: 50px;
  width: 1050px;
  text-align: center;
  border-radius: 10px;
}
.r-margin{
  margin-bottom: 70px;
  
}
.r-margintop{
  position: absolute;
  margin-top: 50px;
  margin-left: 20%;
  text-align: center;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.911);
}
.pad-l{
  padding-left: 80px;
}
.space{
  margin: 5px;
}
.size-fontf{
  font-size: 40px;

}
.border-c{
  border-style: solid;
  border-color: #e7e7e7;
  border-radius: 10px;
  background-color: #e7e7e7;
  box-shadow: 10px 10px 10px #dddddd;
}
.border-c1{
  border-style: solid;
  border-radius: 10px;
  background-color: #ffffff;
  border-color: rgb(255, 255, 255);
}

.border-c2{
  border-style: solid;
  border-radius:5px;
  background-color: #dddddd;
  border-color: rgb(255, 255, 255);
}
.border-c3{
 
  border-radius:5px;

}
.coler-bg5 {
  background-color: rgba(255, 255, 255, 0.815);
  position: absolute;
  left: 1%;
  margin-top: 5px;
  padding: 10px;
  width: 1880px;
  text-align: center;
  border-radius: 10px;
  color: #2e068a;
  
}
.border-c4{
  
  border-style: solid;
  border-color: #e7e7e7;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #dddddd;
}
.border-c5{
  height: 500px;
  width: 100px;
  border-style: solid;
  border-color: #e7e7e7;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #dddddd;
}
.border-c6{
  
  height: 450px;
  border-color: #e7e7e7;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #dddddd;
  left: 550px; 
   margin-top: 10px;

}
.border-c7{
  
  height: 250px;
  border-color: #e7e7e7;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #dddddd;
  left: 550px; 
   margin-top: 20px;

}
.border-c8{

  margin-top: 10px;
  height: 720px;
  border-style: solid;
  border-color: #e7e7e7;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #dddddd;
}
.border-c9{
  height: 50px;
  border-style: solid;
  border-color: #e7e7e7;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #dddddd;
}
.border-c10{
  margin-top: 1px;
  height: 200px;
  border-style: solid;
  border-color: #e7e7e7;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #dddddd;
  left: 85px;
}
.border-c11{
  margin-top: 230px;
  height: 200px;
  border-style: solid;
  border-color: #e7e7e7;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #dddddd;
  left: 100px;
}
.border-c12{
 margin-top: 60px;
  height: 430px;
  border-style: solid;
  border-color: #e7e7e7;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #dddddd;
  left: 480px;
}
.coler-bg6 {
  background-color: rgba(255, 255, 255, 0.815);
  position: absolute;
  left: 1%;
  margin-top: 5px;
  padding: 10px;
  width: 1880px;
  text-align: center;
  border-radius: 10px;
  color: #2e068a;
  height: 700px;
}
.border-c13{
 
  height: 50px;
  border-style: solid;
  border-color: #e7e7e7;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #dddddd;
  left: 400px;
}
.border-c14{

  height: 50px;
  border-style: solid;
  border-color: #e7e7e7;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #dddddd;
  left: 1250px;
}
.border-c15{
  margin-top: 1px;
  height: 430px;
  border-style: solid;
  border-color: #e7e7e7;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #dddddd;
  left: 1250px;
}
.border-c16{
  margin-top: 1px;
  height: 430px;
  border-style: solid;
  border-color: #e7e7e7;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #dddddd;
  left: 1250px;
}
.coler-bg6 {
  background-color: rgba(255, 255, 255, 0.815);
  position: absolute;
  left: 1%;
  margin-top: 5px;
  padding: 10px;
  width: 1880px;
  text-align: center;
  border-radius: 10px;
  color: #2e068a;
  height: 750px;
  
}
.border-c17{
  margin-top: 1px;
  height: 700 px;
  border-style: solid;
  border-color: #e7e7e7;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #dddddd;
 
}
.border-c18{
  margin-top: 60px;
   height: 415px;
   border-style: solid;
   border-color: #e7e7e7;
   border-radius: 10px;
   background-color: #ffffff;
   box-shadow: 10px 10px 10px #dddddd;
   left: 480px;
 }
 .border-c19{
  margin-top: 60px;
   height: 400px;
   border-style: solid;
   border-color: #e7e7e7;
   border-radius: 10px;
   background-color: #ffffff;
   box-shadow: 10px 10px 10px #dddddd;
   left: 480px;
 }
 .coler-bg7 {
  background-color: rgba(255, 255, 255, 0.815);
  position: absolute;
  left: 1%;
  margin-top: 5px;
  padding: 10px;
  width: 1880px;
  text-align: center;
  border-radius: 10px;
  color: #2e068a;
  height: 1000px;
 }
 .border-c20{
  margin-top: 20px;
   height: 150px;
   border-style: solid;
   border-color: #e7e7e7;
   border-radius: 10px;
   background-color: #ffffff;
   box-shadow: 10px 10px 10px #dddddd;
   left: 390px;
   
 }
 .coler-bg7 {
  background-color: rgba(255, 255, 255, 0.815);
  position: absolute;
  left: 1%;
  margin-top: 5px;
  padding: 10px;
  width: 1880px;
  text-align: center;
  border-radius: 10px;
  color: #2e068a;
  height: 950px;
  
}
.border-c21{
  margin-top: 20px;
   height: 150px;
   border-style: solid;
   border-color: #e7e7e7;
   border-radius: 10px;
   background-color: #ffffff;
   left: 315px;
   
 }